Other_holders
Photos/Spot welding/20180513_170936.jpg
Photos/Spot welding/20180513_211807.jpg
Photos/Spot welding/20180513_211846.jpg
Photos/Spot welding/Thumbs.db
Photos/Thumbs.db
set.gcode
Solar Battery 2/hex_cell.scad
Solar Battery 2/make solar battery 2.bat
Solar Battery 2/set.gcode
*.gcode
Lantern Battery 3x5/make box stls.bat
Lantern Battery 3x5/hex_cell.scad
Photos/Spot welding.zip
Photos/Spot welding/20180513_163020.mp4
Photos/Spot welding/20180513_165424.mp4
*.gcode
*.gcode
*.gcode
set.gcode
Alberts original ebike battery/hex-cell-2x4-both-18650 .stl
Alberts original ebike battery/hex-cell-2x8-both-18650.stl
hex_cell test strip.stl
hex_cell test bus.stl
hex_cell_4x4 albert ebike box bottom.stl
hex_cell_4x4 albert ebike box lid.stl
Lantern Battery 3x5/box_bottom.stl
Lantern Battery 3x5/box_lid.stl
Lantern Battery 3x5/holder.stl
Lantern Battery 3x5/wire_clamp.stl
Photos/Spot welding/20180512_163037.jpg
Solar Battery 2/box_bottom.stl
Solar Battery 2/box_lid.stl
Solar Battery 2/holder.stl
Solar Battery 2/wire_clamp.stl
*.gcode
set.gcode
